@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
    scroll-behavior: smooth;
}

/* Call to action button */
.prose > p:last-child > a:only-child {
    @apply inline-block bg-[#212121] text-[#ffffff] font-bold no-underline px-5 py-2 rounded;
}

.newsletter-form > div > div > div:last-child {
    display: none !important;
}
.newsletter-form .form-container {
    margin-left: 0 !important;
}
.newsletter-form .emailoctopus-success-message {
    text-align: left !important;
}
.newsletter-form .emailoctopus-form-row {
    margin-top: 0.5rem !important;
}